#container
{
	margin: 0 30px;
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color:#696969;
}

#header
{
	background: #134152;
	color: white;
	padding: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#header h1 { margin: 0; }

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#edito
{
	clear: left;
	padding: 20px;
	margin: 20px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	-webkit-box-shadow: 0px 0px 6px #000000;
	box-shadow: 0px 0px 6px #000000;
	background-image: -webkit-gradient(linear, left top, right top, from(#d6e1ff), to(#dbffe7));
	background-image: -webkit-linear-gradient(left, #d6e1ff, #dbffe7);
	background-image: linear-gradient(left, #d6e1ff, #dbffe7);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	opacity: 0.83;
	color:white;
	background-color:#0B252E;
}

#edito h2
{
	font-size: 160%;
	margin: 0 0 .5em;
}

#news
{	
	float: left;
	width: 40%;
	padding: 20px;
	margin: 20px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	-webkit-box-shadow: 0px 0px 6px #000000;
	box-shadow: 0px 0px 6px #000000;
	background-image: -webkit-gradient(linear, left top, right top, from(#d6e1ff), to(#dbffe7));
	background-image: -webkit-linear-gradient(left, #d6e1ff, #dbffe7);
	background-image: linear-gradient(left, #d6e1ff, #dbffe7);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	opacity: 0.83;
	color:white;
	background-color:#0B252E;
	
}

#news h2{
color:#8D8D8D;
}

#edito h2{
color:#8D8D8D;
}

#footer
{
	clear: both;
	background: #134152;
	text-align: right;
	padding: 20px;
	height: 1%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

a{
color:#8D8D8D;
}

a:hover{
color:#fff;
}
